<div class="content-wrapper">
    <h2 class="py-5 my-5 text-center font-weight-light"><span class="font-weight-bold">Liste Des </span><span class="tertiary_clr">Contracts</span></h2>
    <div class="container">
        <!-- <div class="row mb-3">
            <div class="col-6 mx-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-50">
                      <span class="input-group-text secondary_bg seconday_clr font-weight-light black_box_2 text-center d-block w-100" for="list_forfait"><span class="font-weight-normal">Plan</span> tarifaire: 99dh</span>
                    </div>
                    <select class="custom-select" id="list_forfait">
                        <option selected disabled>--Choisir--</option>
                        <option value="1">Forfait 1</option>
                        <option value="2">Forfait 2</option>
                        <option value="3">Forfait 3</option>
                        <option value="4">Forfait 4</option>
                        <option value="5">Forfait 5</option>
                        <option value="6">Forfait 6</option>
                      </select>
                  </div>
            </div>
        </div> -->
        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-50">
                      <span class="input-group-text secondary_bg seconday_clr font-weight-light black_box_2 text-center d-block w-100" id="Nom_distributeur2"><span class="font-weight-normal">D</span>istributeur</span>
                    </div>
                    <input type="text" class="form-control text-center" placeholder=" . . . . . " aria-label="Nom_distributeur2" aria-describedby="Nom_distributeur2">
                  </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-50">
                      <span class="input-group-text secondary_bg seconday_clr font-weight-light black_box_2 text-center d-block w-100" id="Code_distributeur2"><span class="font-weight-normal">C</span>ode distributeur</span>
                    </div>
                    <input type="text" class="form-control text-center" placeholder=" . . . . . " aria-label="Code_distributeur2" aria-describedby="Code_distributeur2">
                  </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-50">
                      <span class="input-group-text secondary_bg seconday_clr font-weight-light black_box_2 text-center d-block w-100" id="Nom_pointvent2"><span class="font-weight-normal">P</span>oint de vent</span>
                    </div>
                    <input type="text" class="form-control text-center" placeholder=" . . . . . "  aria-label="Nom_pointvent2" aria-describedby="Nom_pintvent2">
                  </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-50">
                      <span class="input-group-text secondary_bg seconday_clr font-weight-light black_box_2 text-center d-block w-100" id="Code_pointvent2"><span class="font-weight-normal">C</span>ode point de vent</span>
                    </div>
                    <input type="text" class="form-control text-center" placeholder=" . . . . . " aria-label="Code_pointvent2" aria-describedby="Code_pintvent2">
                  </div>
            </div>
            <div class="col-12 col-md-6 mx-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-50">
                      <span class="input-group-text secondary_bg seconday_clr font-weight-light black_box_2 text-center d-block w-100 brd-r pt-4" id="Num_imei"><span class="font-weight-normal">D</span>ate Contracts</span>
                    </div>
                    <form class="form-inline w-50 pl-2">
                        <div class="form-group w-100 ">
                          <div class="input-group w-100">
                            <input #dpFromDate
                                   class="form-control" placeholder="yyyy-mm-dd"
                                   name="dpFromDate"
                                   [value]="formatter.format(fromDate)"
                                   (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar-week"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mt-sm-2 w-100 mb-0">
                          <div class="input-group w-100">
                            <input #dpToDate
                                   class="form-control" placeholder="yyyy-mm-dd"
                                   name="dpToDate"
                                   [value]="formatter.format(toDate)"
                                   (input)="toDate = validateInput(toDate, dpToDate.value)">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar-week"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mt-sm-2 hidden w-100">
                          <div class="input-group w-100">
                            <input name="datepicker"
                                   class="form-control d-none"
                                   ngbDatepicker
                                   #datepicker="ngbDatepicker"
                                   [autoClose]="'outside'"
                                   (dateSelect)="onDateSelection($event)"
                                   [displayMonths]="2"
                                   [dayTemplate]="t"
                                   outsideDays="hidden"
                                   [startDate]="fromDate">
                            <ng-template #t let-date let-focused="focused">
                              <span class="custom-day"
                                    [class.focused]="focused"
                                    [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)"
                                    (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                              </span>
                            </ng-template>
                          </div>
                        </div>
                      </form>
                  </div>
            </div>
            <div class="col-12 col-md-6 mx-auto">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-50">
                              <span class="input-group-text secondary_bg seconday_clr font-weight-light black_box_2 text-center d-block w-100" for="list_forfait"><span class="font-weight-normal">Plan</span> tarifaire: 99dh</span>
                            </div>
                            <select class="custom-select" id="list_forfait">
                                <option selected disabled>--Choisir--</option>
                                <option value="1">Forfait 1</option>
                                <option value="2">Forfait 2</option>
                                <option value="3">Forfait 3</option>
                                <option value="4">Forfait 4</option>
                                <option value="5">Forfait 5</option>
                                <option value="6">Forfait 6</option>
                              </select>
                          </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-50">
                              <span class="input-group-text secondary_bg seconday_clr font-weight-light black_box_2 text-center d-block w-100" id="Nom_responsable2"><span class="font-weight-normal">R</span>esponsable</span>
                            </div>
                            <input type="text" class="form-control text-center" placeholder=" . . . . . " aria-label="Nom_responsable2" aria-describedby="Nom_responsable2">
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive table-shadow mx-auto mx-w96">
      <table class="table table-striped">
        <thead>
        <tr>
        <th scope="col" class="text-center minw-300 ver-a-m">N°</th>
        <th scope="col" class="text-center minw-100 ver-a-m">Date</th>
        <th scope="col" class="text-center minw-100 ver-a-m">N° Contract</th>
        <th scope="col" class="text-center minw-300 ver-a-m">Nom Du Client</th>
        <th scope="col" class="text-center minw-100 ver-a-m">N° Ligne</th>
        <th scope="col" class="text-center minw-100 ver-a-m">N° ICC</th>
        <th scope="col" class="text-center minw-300 ver-a-m">Marque Du Terminal</th>
        <th scope="col" class="text-center minw-100 ver-a-m">N° IMEI</th>
        <th scope="col" class="text-center minw-100 ver-a-m">
            <span class="d-block">C</span>
            <span class="d-block">I</span>
            <span class="d-block">N</span
        ></th>
        <th scope="col" class="text-center minw-300 ver-a-m">
            <span class="d-block">P</span>
            <span class="d-block">.</span>
            <span class="d-block">B</span>
        </th>
        <th scope="col" class="text-center minw-100 ver-a-m">
            <span class="d-block">S</span>
            <span class="d-block">.</span>
            <span class="d-block">C</span>
        </th>
        <th scope="col" class="text-center minw-100 ver-a-m">
            <span class="d-block">R</span>
            <span class="d-block">I</span>
            <span class="d-block">B</span>
        </th>
        <th scope="col" class="text-center minw-300 ver-a-m">
            <span class="d-block">R</span>
            <span class="d-block">.</span>
            <span class="d-block">C</span>
        </th>
        <th scope="col" class="text-center minw-100 ver-a-m">Autres</th>
        <th scope="col" class="text-center minw-100 ver-a-m">Remarques</th>
        <th colspan="2" class="text-center maxw-100 ver-a-m">Gestion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let forfait of listForfaits">
        <th scope="row" class="text-center">nom1</th>
        <td class="text-center">prix1</td>
        <td class="text-center">date1</td>
        <td class="maxw-36"><button type="button" class="btn btn-info d-block mx-auto" [routerLink]="['/contract/edit']"><i class="fa fa-pencil"></i></button></td>
        <td class="maxw-36"><button type="button" class="btn btn-danger d-block mx-auto"><i class="fa fa-trash"></i></button></td>
        </tr>
        </tbody>
    </table>
    </div>
      
      <div class="d-flex justify-content-between p-2 mx-w96 mx-auto">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
      
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
</div>