<div class="content-wrapper">
    <h2 class="py-5 my-5 text-center font-weight-light"><span class="font-weight-bold">Liste Des </span><span class="tertiary_clr">Forfaits</span></h2>
    <div class="table-responsive table-shadow mx-auto mx-w96">
      <table class="table table-striped ">
          <thead>
          <tr>
          <th scope="col" class="text-center minw-300">Nom</th>
          <th scope="col" class="text-center minw-100">Prix</th>
          <th scope="col" class="text-center minw-100">Date de creation</th>
          <th colspan="2" class="text-center maxw-100">Gestion</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let forfait of listForfaits">
          <th scope="row" class="text-center">{{forfait.nom}}</th>
          <td class="text-center">{{forfait.prix}} DH</td>
          <td class="text-center">{{forfait.date | date: 'dd-MM-yyyy'}}</td>
          <td class="maxw-36"><button type="button" class="btn btn-info d-block mx-auto btn_update" [routerLink]="['/forfaits/edit']"><i class="fa fa-edit mr-2"></i>Modefier</button></td>
          <td class="maxw-36"><button type="button" class="btn btn-danger d-block mx-auto btn_delete" (click)='archiverForfait(forfait.id)'><i class="fa fa-trash mr-2"></i>Archiver</button></td>
          </tr>
          </tbody>
      </table>
    </div>
      <div class="d-flex justify-content-between p-2 mx-w96 mx-auto">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
      
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
</div>