.brd-r-none {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.brd-top-bot {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.btn-primary{
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #D31027;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: rgba(17, 153, 142,0.3);
}

.black_box{
    min-width: 49px;
}

.black_box_2{
    min-width: 89px;
}

.black_box_3{
    min-width: 140px;
}

.date-box {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    
}
.labele-box {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.disabled-class {
    cursor: not-allowed;
}